body {
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 45px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
    width: 750px;
    margin: auto;
    font-family: 'Inconsolata';
}
* { box-sizing: border-box; margin: 0; }

.name {
    font-weight: bold;
    font-size: 28px;
}

.title {
    color: orangered;
    font-weight: none;
    font-size: 18px;
    margin-top: 5px;
}

.contact-icon {
    width: 15px;
}

.contact-section {
    margin-top: 15px;
}

.contact-icon-container {
    align-content: center;
}

/* 
#phone-icon {
    padding-left: 5px;
} */

.contact-info {
    vertical-align: middle;
    font-size: 14px;
    padding-left: 7px;
}

.heading {
    color: orangered;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.bar {
    border-top: 2px solid black;
    margin-bottom: 5px;
    width: 90%
}

.subheading {
    text-align: left;
    font-weight: bold;
    font-size: 13px;
}

.left-section {
    padding: 10px;
}

.right-section {
    padding: 5px;
}

.skills-list {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.position {
    font-size: 13px;
    margin-bottom: 2px;
}

.position-duration {
    color: grey;
    font-size: 12px;
}

.position-description-list {
    margin-top: 5px;
    list-style-type: "-  ";
    font-size: 13px;
}